* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: sans-serif;
}

/* This was done to create lighter version of the mock-up as my background so I could code to match it perfectly */
/* Here's the example I used: http://css-tricks.com/snippets/css/transparent-background-images */
body::after {
    content: "";
    background: url(../images/w4-hw-mockup.jpg);
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.green {
    background-color: lightgreen;
}

.capitalize {
    text-transform: uppercase;
}
    
footer {
    display:inline-block;    
}

footer span {
    margin-left: 10px
}